.card{
  background: #f3f3f3;
}
.ambassador .card{
  padding: 20px 20px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}
/* avater css start */
.avatar-upload {
  position: relative;
  max-width: 205px;
  margin-bottom: 20px;
}
.avatar-upload .avatar-edit {
  position: absolute;
  right: 10px;
  z-index: 1;
  top: 105px;
}
.avatar-upload .avatar-edit input {
  display: none;
}
.avatar-upload .avatar-edit input+label {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin-bottom: 0;
  border-radius: 100%;
  background: #FFFFFF;
  border: 1px solid transparent;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  cursor: pointer;
  font-weight: normal;
  transition: all .2s ease-in-out;
}
.avatar-upload .avatar-edit input+label:hover {
  background: #f1f1f1;
  border-color: #d6d6d6;
}
.avatar-upload .avatar-edit input+label > i {
  color: #757575;
  position: absolute;
  top: 4px;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
  font-size: 18px;
}
.avatar-upload .avatar-preview {
  width: 150px;
  height: 150px;
  position: relative;
  border-radius: 100%;
  border: 6px solid #e3d2d3;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
margin-left: 10px;}
.avatar-upload .avatar-preview>div {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.control-indicator{
  background: #000;
}
.redio_button_label > div{
  display: flex;
  justify-content: space-around;
}
.redio_button_label > div input{
  width: inherit !important;
  margin-bottom: 20px !important;
}
.user-avater span{
  font-size: 14px;
  font-weight: 600;
}
.description span{
  font-size: 14px;
  color: #757575;
}
/* .nav-pills li:last-child{
  border-bottom: none;
} */
.element-items{
  border: 1px solid #a8a8a8;
  padding: 10px 30px;
  border-radius: 7px;
  cursor: pointer;
  border-left: 3px solid #C2000C;
}
.element-items i {
  padding-right: 10px;
}
.update-avater{
  position: relative;
  left: 290px;
  top: -63px;
}
.update-avater i{
  color: #77090A;
  font-size: 25px;
  cursor: pointer;
}
.form-control{
  border: 1px solid #C2000C;
}
input{
  box-shadow: 2px 1px #C2000C;
}
.form-control:focus {
  box-shadow: 2px 1px #C2000C;
}

.btn-check:active+.btn-outline-primary, .btn-check:checked+.btn-outline-primary, .btn-outline-primary.active, .btn-outline-primary.dropdown-toggle.show, .btn-outline-primary:active {
  color: #fff;
  background-color: #C1000C;
  border-color: #C1000C;
}
.btn-outline-primary {
  color: #C2000C;
  border-color: #C2000C;
}
.btn-check:active+.btn-outline-primary:focus, .btn-check:checked+.btn-outline-primary:focus, .btn-outline-primary.active:focus, .btn-outline-primary.dropdown-toggle.show:focus, .btn-outline-primary:active:focus {
  box-shadow: none !important;
}
.btn-check:active+.btn-outline-primary, .btn-check:checked+.btn-outline-primary, .btn-outline-primary.active, .btn-outline-primary.dropdown-toggle.show, .btn-outline-primary:active {
  color: #fff;
  background-color: #C2000C;
  border-color: none !important;
}
.btn-check:focus+.btn-outline-primary, .btn-outline-primary:focus {
  box-shadow: none !important;
}
.btn-outline-primary:hover {
  color: #fff;
  background-color: #C2000C;
  border-color: #C2000C;
}
/* avater css end */

/* Responsive */
@media only screen and (min-width: 768px) and (max-width: 991.98px) {  
}
@media only screen and (min-width: 576px) and (max-width: 767.98px) { 
}
@media only screen and (min-width: 450px) and (max-width: 575.98px) {   
}
@media only screen and (min-width: 310px) and (max-width: 449.98px) {  
}